 # NEON
DATABASE_URL=postgresql://neondb_owner:npg_QCxU6KRhIf2B@ep-lingering-salad-b3l8nays-pooler.c-4.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
DIRECT_URL=postgresql://neondb_owner:npg_QCxU6KRhIf2B@ep-lingering-salad-b3l8nays.c-4.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
NEXTAUTH_SECRET=KyLpxU/yMjk8fLAP0fTrMjNj5TP4OB9K1k91IMFQhN8=
NEXTAUTH_URL=http://localhost:3000
