# Neon — pooled, dipakai runtime
DATABASE_URL=
# Neon — direct, dipakai prisma migrate
DIRECT_URL=
# openssl rand -base64 32
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
# Opsional — Google SSO
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
